.header {
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  .header__logo {
    height: 40px;

    img {
      height: 100%;
    }
  }
}

@media screen and (min-height: 760px) {
  .heaer {
    height: 70px;

    .header__logo {
      height: 50px;
    }
  }
}
