.post {
  .post__date {
    text-align: right;
    margin-bottom: 1rem;
  }

  ul {
    margin-top: 1rem;
  }

  pre.highlight {
    background: $code-bgcolor;
    border-radius: 0.5rem;
    padding: 1rem;

    code.hljs {
      display: block;
      overflow-x: scroll;
    }
  }
}
