.post {
  .post__date {
    text-align: right;
  }

  .post__share {
    margin-bottom: 1rem;
  }

  p {
    code {
      display: inline-block;
      margin: 0 0.2rem;
      background-color: #eee;
      border: 1px solid #ddd;
      padding: 0 0.4rem;
      border-radius: 0.3rem;
    }
  }

  ul {
    margin-top: 1rem;
  }

  pre.highlight {
    background: $code-bgcolor;
    border-radius: 0.5rem;
    padding: 1rem;

    code.hljs {
      display: block;
      overflow-x: scroll;
    }
  }

  pre:has(code.language-mermaid) {
    overflow-x: scroll;
  }
}
