.news {
  margin: 0 6px;
  padding-top: 1rem;
  list-style: none;

  .news__item {
    margin-bottom: 0.5rem;
    width: 100%;
    line-height: 1.5rem;
    display: grid;
    grid-template-areas:
      "i i"
      "d c";
    grid-template-columns: 8rem auto;
    align-items: center;

    .news__item__date {
      grid-area: d;
      color: $header-color;
      width: 8rem;
      font-weight: bold;
      text-align: center;
    }

    .news__item__image {
      grid-area: i;
      display: block;
      margin: 0.1rem 0.5rem;
      width: calc(100% - 1rem);
      border-radius: 5px;
    }

    .news__item__content {
      margin: 0.5rem 0;
      grid-area: c;
    }
  }

  .news__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 760px) {
  .news {
    margin: 0;

    .news__item {
      margin-bottom: 0;
      grid-template-areas: "d i c";
      grid-template-columns: 6rem min-content auto;

      .news__item__date {
        width: 6rem;
      }

      .news__item__image {
        width: auto;
        height: 2rem;
      }

      .news__item__content {
        margin: 0;
      }
    }
  }
}
